@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.wrapper {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 330px;
    padding: 15px;
}

.button {
    width: 300px;
    margin: 1rem auto;
    border-radius: 4rem;
    font-family: 'Montserrat', sans-serif;
}